* {
  box-sizing: border-box;
}

body {

  margin: 0;
  font-family: 'Jua', sans-serif;
  background-color: #3c4855;
}

/*---- PC  Screen----*/

h1,
p {
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  color: blanchedalmond;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

h1 {
  margin-top: 1%;
}

p {
  margin-top: 3%;
  margin-bottom: 2%;
  font-size: large;
}

/*Slider */

.container {
  width: 60%;
  margin: auto;
  border: 10px black solid;
  overflow: hidden;
  border-radius: 1%;
  height: 410px;
}

#slider {
  text-align: center;
  height: 391px;
  display: flex;
  flex-flow: row nowrap;
}

#slider img {
  height: 391px;
  width: 100%;
}

h2 {
  bottom: 10%;
  position: absolute;
  left: 0;
  height: 60px;
  right: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
}

#slider {
  color: rgb(240, 175, 78);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
}

.slide {

  position: relative;
  width: 100%;
  height: 480px;
  flex-shrink: 0;
  transition: left 700ms ease-in;
  left: 0;
}

.slide p {

  font-size: 1.1em;
  font-weight: bold;
  color: rgb(7, 7, 7);
  background-color: rgba(211, 211, 211, 0.25);
}

/* BUTTON SLIDER */

#prev-slide,
#next-slide,
#play-slide {
  cursor: pointer;
  position: absolute;
  color: blanchedalmond;
  background-color: black;
  border-radius: 999px;
}


#next-slide {
  left: 20%;
  bottom: 0;
  position: relative;
}

#prev-slide {
  left: 20%;
  bottom: 0;
  position: relative;
}

#play-slide {
  bottom: 0;
  left: 20%;
  position: relative;
}

/* Map */

#carte {
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 2%;
  margin-bottom: 2%;
  left: 18%;
  width: 30%;
  height: 300px;
  border: 10px solid black;
  border-radius: 4px;
}

#map {
  position: absolute;
  width: 100%;
}

/* Marker Cluster */
.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}

.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
  background-color: rgb(181, 226, 140);
}

.leaflet-oldie .marker-cluster-small div {
  background-color: rgb(110, 204, 57);
}

.leaflet-oldie .marker-cluster-medium {
  background-color: rgb(241, 211, 87);
}

.leaflet-oldie .marker-cluster-medium div {
  background-color: rgb(240, 194, 12);
}

.leaflet-oldie .marker-cluster-large {
  background-color: rgb(253, 156, 115);
}

.leaflet-oldie .marker-cluster-large div {
  background-color: rgb(241, 128, 23);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
  line-height: 30px;
}

/* Panneau  info-Station */
#informationBlock {
  position: absolute;
  width: 85%;
  right: -100%;
  height: auto;
  display: none;
  border: 10px black solid;
  border-radius: 5%;
}

#resaBtn {
  margin-left: 35%;
  margin-bottom: 2%;
  margin-top: 4%;
  background-color: black;
  color: blanchedalmond;
  border-radius: 999px;
}

/* Formulaire */
#myForm {
  display: flex;
  width: 50%;
  flex-direction: column;
  text-align: center;
  color: blanchedalmond;
}


input {
  margin-top: 4%;
  position: relative;
  left: 50%;
  background: none;
  border: none;
  border-bottom: 2px solid black;
  color: blanchedalmond;
}

#error {
  width: max-content;
  font-size: 1rem;
  margin-top: 4%;
}

/* Reservation Block*/

#reservationBlock {
  position: relative;
  left: 107%;
  width: auto;
  display: none;
  z-index: 99;
  background-color: #3c4855;
  border: 10px black solid;
  border-radius: 3%;
}

/*Canvas*/
#canvas {
  width: 100%;
  height: 138px;
  background-color: rgb(253, 255, 240);
}

#effacer {
  position: relative;
  left: 40%;
  border-radius: 999px;
}

#button-valider {
  display: none;
  border-radius: 999px;
}

#button-confirmation {
  display: flex;
  justify-content: center;
  border-radius: 999px;
}

/* Timer */
#countdown {
  visibility: hidden;
  height: 40px;
  width: 100%;
  background-color: #3c4855;
  color: blanchedalmond;
}

#stop {
  visibility: hidden;
  background-color: black;
  color: blanchedalmond;
  border-radius: 999px;
}

/*----Iphone7----*/
@media (max-width: 767px) {
  .container {
    width: 95%;
    margin: auto;
  }

  #slider img{
    object-fit: cover;
  }

  
  h2 {
    bottom: 14%;
    position: absolute;
    left: 0;
    height: 60px;
    right: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: visible;
    font-size: large;
  }

  /* Slides Control Buttons
  */

  #next-slide {
    left: 1rem;
    bottom: 0;
    position: relative;
  }

  #prev-slide {
    left: 1rem;
    bottom: 0;
    position: relative;
    margin-top: 2%;
  }

  #play-slide {
    bottom: 0rem;
    left: 1rem;
    right: 0;
    position: relative;
  }

  #carte {
    width: 95%;
    left: 0;
    right: 0;
  }

  /*Information Block
*/

  #informationBlock {
    position: relative;
    width: 95%;
    height: 320px;
    top: 108%;
    left: 0;
  }


  #resaBtn {
    background-color: black;
    color: blanchedalmond;
    position: absolute;
    top: 88%;
    left: 5%;
    border-radius: 999px;
  }

  /* Formulaire
*/

  #myForm {
    width: 50%;
    flex-direction: column;
    text-align: center;
  }


  input {
    margin-top: 4%;
    display: flex;
    position: relative;
    left: 50%;
  }

  #error {
    position: absolute;
    top: 85%;
  }

  /*Reservation Block
  */
  #reservationBlock {
    position: absolute;
    top: 115%;
    left: 0;
  }


  /*CountDown Block
  */

  #countdown {
    position: absolute;
    margin-top: 90%;
    text-align: justify;
    flex-wrap: wrap;
    font-size: large;
  }

  #stop {
    position: relative;
    left: 34%;
    margin-top: 113%;
    border-radius: 1%;
    margin-bottom: 2%;
  }
}

/*----Tablette IPad-----*/
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 95%;
    margin: auto;
  }

  #slider img{
    object-fit: cover;
  }

  h2 {
    position: absolute;
    width: 100%;
    word-break: break-word;
    text-align: center;
    font-size: large;
}

  #prev-slide,
  #next-slide,
  #play-slide {
    cursor: pointer;
    position: relative;
    color: blanchedalmond;
    background-color: black;
}

  #next-slide {
    left: 9%;
    top: 5%;
    position: relative;
}

  #prev-slide {
    left: 3%;
    top: 5%;
    position: relative;
}

  #play-slide {
    left: -1%;
    top: 5%;
    position: relative;
}

/* Block Carte*/

  #carte {
    width: 95%;
    left: 0;
    right: 0;
  }

  /*Information Block */

  #informationBlock {
    position: relative;
    width: 50%;
    height: 315px;
    top: 130%;
    left: 0;
  }

  #reservation-button {
    position: absolute;
    top: 93%;
    left: 40%;
  }

  #resaBtn {
    position: absolute;
    background-color: black;
    color: blanchedalmond;
  }

  /* Formulaire */

  #myForm {
    width: 50%;
    flex-direction: column;
    text-align: center;
  }


  input {
    margin-top: 5%;
    display: flex;
    position: relative;
    left: 50%;
  }

  #error {
    position: absolute;
    top: 87%;
    left: 8%;
  }

  /*Reservation Block */

  #reservationBlock {
    position: absolute;
    top: 115%;
    left: 24%;
    margin-bottom: 2%;
  }


  /*CountDown Block */

  #countdown {
    position: relative;
  }

  #stop {
    position: absolute;
    left: 2%;
    top: 90%;
    border-radius: 1%;
  }

}